<a href="https://colab.research.google.com/github/usis058619/Progra-lll-2022/blob/main/Practicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hola Mundo", "Bienvenidos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Luis Hernandez")

hola Mundo Bienvenidos a Programacion Computacional III, con Python
Mi nombre es:  Luis Hernandez

In [2]:
nombre = "Luis Hernandez"
print("Hola ", nombre, type(nombre))

nombre = 25
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Luis Hernandez <class 'str'>
Tu edad es:  27 <class 'int'>

In [3]:
nombre = "Luis Hernandez"
print("Tu nombre es: ", nombre, "Longitud de tu Nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[5])

Tu nombre es:  Luis Hernandez Longitud de tu Nombre:  14 Iniciales:  L H

In [4]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("La suma de num1: ", num1 , " + num2: ", num2, "es igual a: ", resp)

La suma de num1:  5  + num2:  4.6 es igual a:  9.6

In [5]:
num1 = float(input("Ingrese un numero entero: "))
num2 = float(input("Ingrese otro Num decimal: "))
resp = num1 + num2
print("SUma", resp, type(resp))

Ingrese un numero entero: 4
Ingrese otro Num decimal: 2.3
SUma 6.3 <class 'float'>

In [6]:
nombre = input("Dime tu nombre: ")
print(nombre, type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3])

Dime tu nombre: jose
jose <class 'str'> 4
j o s e

In [7]:
resp = 4 - 4 * 6 / 2 + 1
print(resp)

-7.0

In [8]:
gustaProgramacion = True #False
print("Te gusta programar: ", gustaProgramacion)

gustaDiseno = False
print("Te gusta diseñar: ", gustaDiseno)

Te gusta programar:  True
Te gusta diseñar:  False

In [9]:
def suma(num1, num2):
  return num1 + num2
print("La suma de 5 + 7 = ", suma(5,7))

La suma de 5 + 7 =  12

In [10]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Dime un numero: "))
num2 = float(input("Dime otro numero: "))

print("La suma es: ", suma(num1, num2))

Dime un numero: 5
Dime otro numero: 3
La suma es:  8.0

In [11]:
suma = lambda num1,num2: num1 + num2

In [12]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print( "La respuesta es: ", suma(num1, num2))

Num1: 1
Num2: 2
La respuesta es:  3.0

In [13]:
lista = [2,7,8,6,9]

In [14]:
cuadrado = lambda num: num**2

In [15]:
print( type(cuadrado) )

<class 'function'>

In [16]:
cubo  = lambda num: num**3

In [17]:
potencia = lambda num, n: num**n

In [18]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado, lista) ), " al cubo: ", list(map(cubo, lista)) )

Lista:  [2, 7, 8, 6, 9]  al cuadrado:  [4, 49, 64, 36, 81]  al cubo:  [8, 343, 512, 216, 729]

In [19]:
print( "2 al cubo es: ", potencia(4, 5) )

2 al cubo es:  1024

In [20]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

Lista Original:  [2, 7, 8, 6, 9]  al cubo:  [8, 343, 512, 216, 729]

In [21]:
fpares = lambda num: num%2==0 # %=> Modulo=> devuelve el residuo de una division 5/2 = 1=>residuo

In [22]:
fimpares = lambda num: num%2!=0

In [23]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

Lista original:  [2, 7, 8, 6, 9]  solo pares:  [2, 8, 6]  los impares:  [7, 9]

In [24]:
suma = lambda a,b: a+b

In [ ]:
#import functools

In [25]:
import functools
print("Lista original: ", lista, "la suma: ", functools.reduce(suma, lista), " media Aritmetica: ", functools.reduce(suma, lista)/len(lista) )

Lista original:  [2, 7, 8, 6, 9] la suma:  32  media Aritmetica:  6.4

In [26]:
c= 27

In [27]:
def convertirCaF(c):
  return c*9/5 + 32

In [28]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  80.6

In [29]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [30]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

[27, 30, 32, 35, 40, 45] Respuesta:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [31]:
gradosf = [80.6, 86, 89.6, 95, 104, 113]

In [32]:
def convertirFaC(f):
  return (f-32) * 5/9

In [33]:
print(gradosf, " Respuesta: ", list(map(convertirFaC, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [34]:
print(gradosf, " Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

**Trea:** 
* Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

* Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [35]:
edades = (2,5,12,18,65,100) #La tupl es inmutable, es decir, no podemos cambiar su valor y se declara con parenteis pero se usa con corchetes
print( edades, "La edad de bebe es la mejor: ", edades[0] )

#edades[0] = 1, es inmutable, no se puede modificar

(2, 5, 12, 18, 65, 100) La edad de bebe es la mejor:  2

In [36]:
print("Edades: ", edades, "Responsabilidades: ", tuple( filter(lambda e:e>=18, edades) ) )
print("Edades: ", edades, " Al cuadrado: ", tuple(map(lambda n:n**2, edades)) )

Edades:  (2, 5, 12, 18, 65, 100) Responsabilidades:  (18, 65, 100)
Edades:  (2, 5, 12, 18, 65, 100)  Al cuadrado:  (4, 25, 144, 324, 4225, 10000)

In [37]:
notas = [6,8,10] #Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes
print("Notas Originales: ", notas)

notas[0] = 9
print("Notas: ", notas)

Notas Originales:  [6, 8, 10]
Notas:  [9, 8, 10]

In [38]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
print(notasProgra)

[[9, 8, 10], [10, 6, 9], [10, 9, 10]]

In [39]:
print("Lab2 de C1", notasProgra[0][1] )

Lab2 de C1 8

In [40]:
notas = [
    [ #Progra III
      [9,8,[8,9]], #C1
      [10,6,9], #C2
      [10,9,10] #C3
    ], 
    [ #Estadistica
      [5,7,10], #C1
      [9,8,9],  #C2
      [10,10,10]#C3
    ],
    [ #BD
      [7,8,9],  #C1
      [9,8,7],  #C2
      [10,9,10],#C3
    ], 
    [ #Ingles
      [8,9,10], #C1
      [9,10,9], #C2
      [10,10,10]#C3
    ],
    [ #Circuito Digitales
      [5,8,7], #C1
      [8,7,9], #C2
      [9,10,9] #C3
    ]
]
import functools
print( "Lab1 de Estadistica en C1", notas[1][0][0], "NOta de Parcial C1 de Progra III: ",functools.reduce(lambda a,b: a+b, notas[0][0][2])/2 )

Lab1 de Estadistica en C1 5 NOta de Parcial C1 de Progra III:  8.5

In [43]:
#diccionarios (JSON): Se declaran con llaves pero se usan con corchetes
misNotas = {
    "Programa III":{
        "C1": {
          "Lab1":9,"Lab2":8, "Parcial":{"ParteI":8, "ParteII":9}
        },
        "C2":{
          "Lab1":10,"Lab2":6, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":6, "Parcial":9
        }
    },"Estadistica":{
        "C1": {
          "Lab1":5,"Lab2":7, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "BD":{
        "C1": {
          "Lab1":7,"Lab2":8, "Parcial":9
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":7
        },
        "C3":{
          "Lab1":10,"Lab2":9, "Parcial":10
        }
    }, "Ingles":{
        "C1": {
          "Lab1":8,"Lab2":9, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":10, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "Circuitos Digitales":{
        "C1": {
          "Lab1":5,"Lab2":8, "Parcial":7
        },
        "C2":{
          "Lab1":8,"Lab2":7, "Parcial":9
        },
        "C3":{
          "Lab1":9,"Lab2":10, "Parcial":9
        }
    }
}
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])
misNotas["Estadistica"]["C1"]["Lab1"] = float(input("Lab1: "))
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])

Lab1 en C1 de Estadistica:  5
Lab1: 10
Lab1 en C1 de Estadistica:  10.0

In [42]:
edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Eres un niño")
elif( edad<18 ):
  print("Eres un adolescente")
elif( edad<=55 ):
  print("Eres un adulto joven")
elif(edad<=65):
  print("Eres un Adulto")
elif(edad<=85):
  print("Eres un adulto mayor")
elif(edad<=130):
  print("Larga vidad...")
else:
  print("Edad incorrecto")
print("Termino")

Dime tu edad: 21
Eres un adulto joven
Termino

In [44]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla de multiplicar a generar: "))
i=1
while i<=10:
  print( nt,"X",i,"=", nt*i )
  i+=1

Dime la tabla de multiplicar a generar: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [45]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla que deseas generar: "))
for i in range(1,11): #i<11
  print(nt,"X",i,"=", nt*i)

Dime la tabla que deseas generar: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [52]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
s = "s"
while s=="s":
  nt = int(input("Dime una tabla: "))
  for i in range(1, 11):
    print(nt, "X",i,"=", nt*i)
  s = input("Desea continua presione la tecla s, sino cualquier otra")

Dime una tabla: 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Desea continua presione la tecla s, sino cualquier otra2

In [54]:
#conversores
etiquetas = [
    0,
    ["Seleccione un moneda", "1. Dolar", "2. Colon SV", "3. Quetzal", "4. Lempira", "5. Cordoba"],
    ["Selecione un almacenamiento", "1. MegaByte", "2. Bit", "3. Byte", "4. KiloByte", "5. GigaByte"]
    ,3,4,5]

valores = [0,
  [0,1, 8.75, 7.73, 24.49, 35.96],
  [0,1, 8388608, 1048576, 1024, 0.0009765625]  
]

In [55]:
def convertir(opcion, de, a, cantidad):
  return valores[opcion][a] / valores[opcion][de] * cantidad

In [56]:
print("** MENU **")
print("1. Monedas")
print("2. Almacenamiento")
opcion = int(input("Opcion: "))

print( etiquetas[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etiquetas[opcion][de], " en ", etiquetas[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

** MENU **
1. Monedas
2. Almacenamiento
Opcion: 1
['Seleccione un moneda', '1. Dolar', '2. Colon SV', '3. Quetzal', '4. Lempira', '5. Cordoba']
DE: 3
A: 1
Cantidad: 14
3. Quetzal  en  1. Dolar  equivale a:  1.811125485122898